{% extends "main/base.html" %}
{% block content %}
<main id="content2" class="row" role="main">

      <div class="columns">

        
        
        

<article class="page-content">
    <div class="row">
        <div class="columns large-12">

            
            <ul class="breadcrumbs">
<li><a href="/">Home</a> >> </li>
<li><a href="/books/">Books</a> >> </li>
<li>{{book.title}}</li>
</ul>

            <h1>{{book.title}}</h1>

            <div class="row">
                <div class="columns large-7">
                    <section class="big-intro">
                        <p>{{book.description}}<br></p>
                        <p>Author: {{book.author}}<br></p>
                    </section>
                </div>
                <div class="columns large-4">
                    <div class="side-featured-bin">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns large-7">
				{% if c == 0 %}
					<section class="content">
                        <h2>No Review</h2>
						<p>Be the first to review this book!</p>
                    </section>
				{% else %}
					{% for comment in comments %}
                    <section class="content">
                        <h2>{{comment.subject}}</h2>
						<p>{{comment.body}}</p>
						<div class="likes-wrapper">
						<ul>
							<li>{{comment.voteup}}<i class="fa fa-thumbs-o-up thumb-it-up" data-toid="response-{{comment.id}}"></i></li>
							<li>{{comment.votedown}}<i class="fa fa-thumbs-o-down thumb-it-down" data-toid="response-{{comment.id}}"></i></li>
						</ul>
						<div class="response" id="response-{{comment.id}}"></div>
						</div>
                    </section>
					{% endfor %}
				{% endif %}
					<section class="content" id="adding-new-review">
						<h2></h2>
						<p>Add a review:</p>
                        <form action="/" method="post">
							<textarea class="review-text" name="review-text" id="review-text"></textarea>
							<input name='submit' type='submit' value="Submit" id="add-new-review">
						</form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</article>
      </div>
    </main>
	<hr>
{% endblock %}