{% extends "main/base.html" %}
{% block content %}
    <main id="content" class="row" role="main">

      <div class="columns">

        
        
        

        
      </div>
    </main>

    


<section class="large-feature">
  <video preload="auto" loop="loop" autoplay class="video-feature" style="background: url(https://skokielibrary.info/media/features/wrc-animated-header-fallback.png) no-repeat center center; background-size: cover;">
    <source src="https://skokielibrary.info/media/filer_public/67/f4/67f40afc-cb35-415c-9a5f-27af7f69c699/wrc-animated-header.mp4" type="video/mp4">
    <source src="https://skokielibrary.info/media/filer_public/3e/ab/3eab5015-65f8-4e04-9782-1d0b82b1d032/wrc-animated-header.webm" type="video/webm">
  </video>


  <div class="layer">

    <div class="row">
      <div class="small-12 medium-10 columns small-centered main-search-bin" id="search-bin">
        <div class="main-search show" id="search-bar">

          <input type="text" name="target" class="search-input homepage-search track" placeholder="Search the catalog" id="search-query" data-ga-category="Search" data-ga-action="Click" data-ga-label="Input box">

          <select id="search-type">
            <option>Catalog</option>
            <option>Website</option>
          </select>

          <span id="search-icon" onClick="submitSearch('homepage')" class="track" data-ga-category="Search" data-ga-action="Click" data-ga-label="Submit">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-top: 5px;" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 100 100" fill="#706259" xml:space="preserve">
            <path d="M86.464,79.452l-8.547-8.547l-6.808-6.808c3.502-4.926,5.582-10.93,5.582-17.422c0-16.639-13.537-30.176-30.176-30.176
              S16.341,30.036,16.341,46.675c0,16.638,13.535,30.174,30.174,30.174c6.951,0,13.341-2.385,18.447-6.348l11.7,11.7
              c0.144,0.144,0.305,0.258,0.462,0.377l3.107,3.107L86.464,79.452z M46.517,69.751C33.793,69.75,23.442,59.398,23.442,46.676
              c0-12.724,10.352-23.075,23.075-23.075s23.075,10.351,23.075,23.075c0,5.294-1.809,10.163-4.82,14.061
              c-0.995,1.287-2.113,2.475-3.354,3.527C57.394,67.678,52.196,69.751,46.517,69.751z"/>
            </svg>
          </span>

        </div>
      </div>
      <div class="small-12 medium-10 columns small-centered large-feature-text">

        
          <a href="http://readingclubs.skokielibrary.info" class="track" data-ga-category="Feature" data-ga-action="Click" data-ga-label="Winter Reading animated header">Do new things in 2016 with our Winter Reading Club. <span>LEARN MORE<i class="arrow"></i><i class="arrow"></i><i class="arrow"></i></span></a>
        
      </div>
    </div>
  </div> <!-- end of layer -->
</section>

<section class="fill-white events-features">
	{{ name }}
	{{ hello }}
  <div class="row">
    <div class="medium-4 columns upcoming-events">
      <h2>Adult books with reviews</h2>
      
<div class="upcoming-events-list">
	{% for book in books %}
        <div class="row"><div class="small-12 columns"><a href="/books/{{book.slug}}" class="title">{{book.title}}</a></div></div>
	{% endfor %}
</div>

      <a href="/books/all" class="button event-button upper">View All Books</a>
    </div>

    <!--<div class="medium-8 columns feature">
      <h2>Winter Reading</h2>
      <p>New Things in 2016,  December 18 to February 28 <a href="#">Learn more<i class="arrow-s"></i><i class="arrow-s"></i><i class="arrow-s"></i></a></p>
    </div>-->

    <div class="medium-8 columns feature">
      


    
      <h2>Blah Blah</h2>
      <p>Blah BlahBlah BlahBlah BlahBlah BlahBlah Blah

        
          <a href="http://readingclubs.skokielibrary.info" class="track" data-ga-category="Feature" data-ga-action="Click" data-ga-label="WRC Seasonal Feature">Blah Blah<i class="arrow-s"></i><i class="arrow-s"></i><i class="arrow-s"></i></a>
        
      </p>

    



    </div>

    <div class="medium-4 columns feature">
      


    

        <h2>Blah Blah</h2>
        <p><img src="https://skokielibrary.info/media/uploads/1512-maker-break-2.jpg"></p>
        <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>

        
            <div>
                <a href="http://skokielibrary.tumblr.com/post/135463339222/looking-for-something-to-do-during-your-long" class="track" data-ga-category="Feature" data-ga-action="Click" data-ga-label="Maker Break">Learn more<i class="arrow-s"></i><i class="arrow-s"></i><i class="arrow-s"></i></a>
            </div>
        

    



    </div>

    <div class="medium-4 columns feature">
      


    

        <h2>Blah Blah </h2>
        <p><img src="https://skokielibrary.info/media/uploads/1512-Popular.jpg" style="font-size: 11px; font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, Arial, sans-serif;"></p>
        <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>

        
            <div>
                <a href="/blog/54/popular-in-skokie/" class="track" data-ga-category="Feature" data-ga-action="Click" data-ga-label="Popular in Skokie">Read more<i class="arrow-s"></i><i class="arrow-s"></i><i class="arrow-s"></i></a>
            </div>
        

    



    </div>

  </div>
</section>

<section class="fill-alert">
  <div class="row">
    <div class="columns">
      <div class="row quote">

    
        <div class="large-2 medium-3 small-12 columns">
            <img src="https://skokielibrary.info/media/staff/jane-hanna-headshot.jpg" class="avatar">
        </div>
        <div class="large-10 medium-9 small-12 columns">
    
        <span class="upper"><a href="/blog/">Blah Blah </a></span>
        <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
        <a href="/blog/55/2015-staff-picks/" class="upper right track" class="track" data-ga-category="Feature" data-ga-action="Click" data-ga-label="2015 Staff Picks">Read more<i class="arrow-w"></i><i class="arrow-w"></i><i class="arrow-w"></i></a>
    </div>
</div>
    </div>
  </div>
</section>

<section class="fill-offwhite materials">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="row review">
        <div class="small-4 columns">
    <img src="https://secure.syndetics.com/index.php?isbn=1101875046/LC.gif&amp;client=skopl" alt="In the Unlikely Event">
</div>
<div class="small-8 columns">
  <article class="homepage-staff-feature-list">
    <h2>Blah Blah </h2>
    <a href="/lists/246/2015-staff-picks-fiction/" class="list-title-link"><h3>Blah Blah Blah Blah </h3></a>
      <p>Blah Blah Blah Blah</p>
    <a href="/lists/246/2015-staff-picks-fiction/">View list<i class="arrow-s"></i><i class="arrow-s"></i><i class="arrow-s"></i></a>
  </article>
</div>

      </div>
    </div>
    <div class="medium-4 small-12 columns list">
      
<h2><a href="/books-movies-more/new-coming-soon/">Blah Blah Blah Blah </a></h2></h2>
<ul>
<li><a href="/books-movies-more/new-coming-soon/dvds">Blah Blah Blah Blah </a></li></li>
<li><a href="/books-movies-more/new-coming-soon/bestsellers">Blah Blah Blah Blah </a></li></li>
<li><a href="/books-movies-more/new-coming-soon/kids/books">Blah Blah Blah Blah </a></li></li>
<li><a href="/books-movies-more/new-coming-soon">Blah Blah Blah Blah </a></li></li>
</ul>

    </div>
  </div>
</section>

<section class="fill-white downloads-container">
  <div class="row">
    <div class="medium-4 columns">
      
<h2>Blah Blah Blah Blah </h2>
<ul>
<li><a href="#">Blah Blah </a></li>
<li><a href="#">Blah Blah </a></li>
<li><a href="#">Blah Blah </a></li>
<li><a href="#">Blah Blah </a></li>
<li><a href="#">Blah Blah </a></li>
<li><a href="#">Blah Blah </a></li>
</ul>

    </div>
    <div class="medium-8 columns">
      


    
        <div class="row">
            <div class="columns medium-6">
                <h2>Blah Blah </h2>
                <p>Blah Blah Blah Blah Blah Blah Blah Blah <em>Blah Blah </em>, <em>Blah Blah </em>, and, <em>Blah Blah Blah Blah</em>.</p>

                
                    <div>
                        <a href="https://www.rbdigital.com/skokieil/service/zinio/landing" class="track" data-ga-category="Feature" data-ga-action="Click" data-ga-label="Zinio for Libraries">Get started<i class="arrow-s"></i><i class="arrow-s"></i><i class="arrow-s"></i></a>
                    </div>
                
            </div>
            <div class="columns medium-6">
                <p class="flex-video"><iframe width="640" height="480" src="https://www.youtube.com/embed/Mr2mgLophtU?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></p>
            </div>
        </div>
    



    </div>
  </div>
</section>



    <div class="chat-widget" id="chat-widget">
      <button class="chat-widget-button track" data-ga-category="Interface" data-ga-action="Click" data-ga-label="Chat widget" id="chat-button"><span class="chat-button-label">How can we help?</span><span class="chat-button-control">x</span></button>
      <iframe src="https://us.libraryh3lp.com/mobile/ask_skokie@chat.libraryh3lp.com?skin=23814" id="library-chat-widget"></iframe>
    </div>
{% endblock %}